!!
!! colors
!!

#include ".config/colors/solarized-dark.xresources"

!! 
!! font rendering
!!

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault

!!
!! urxvt settings
!!

!scroll bar
URxvt*scrollBar:  false

! get rid of "keycap picture insert mode"
URxvt.iso14755: false
URxvt.iso14755_52: false

! set a nice font
URxvt*font: xft:Inconsolata:size=15
URxvt*letterSpace: -1

!! Perl extensions
urxvt.perl-ext-common: default,matcher,selection-to-clipboard
!! Open urls in browser with Control-Click
urxvt.urlLauncher: /usr/bin/surf
urxvt.matcher.button: 1
